*.swp
output.log
feedback_log
node_modules
.vagrant
service_account_key.js
heltour_token.js
slack_token.js
logging_token.js
coverage
test_service_account_key.js
test_chesster_slack_token.js
test_slack_token.js
lichess_token.js
chesster_slack_token.js
test_heltour_token.js
test_logging_token.js
ladder_config.js
lakinconfig.js
liveconfig.js
db/database.sqlite
npm-debug.log
.vscode
build
.nyc_output
.yarnrc
.env
.idea
local.env
copilot-instructions.md
